<h1>Happy Birthday <%= @name %> </h1>

Your name: <%= @name %> </br>
Date of birth: <%= @day %> </br>
Month of birth: <%= @month %> </br>

<%= @birthday.print_message(@day, @month, @name) %>

<h3><a href="/">Home</a></h3>
