<html>
  <head>
    <link type='text/css' rel='stylesheet' href='css/style.css'>
  </head>
  <body>

    <h1>Hello <%= @name %></h1>
    <h3>Your date of birth is on the <%= @day %> of <%= @month %></h3>

    Date of birth: <%= @day %> </br>
    Month of birth: <%= @month %> </br>

    <%= @birthday.print_message(@day, @month, @name) %>

    <h3><a href="/">Home</a></h3>

  </body>
</html>